<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>

  <style type="text/css">
    body {
    }

    .err, .ok {
      margin: 0.3em 0;
      padding: 5px 7px;
      text-align: center;
      color: #000000;
    }

    .header {
      color: white;
      width: 100%;
      background-color: black;
    }

    .header .title {
      font-size: 14pt;
      text-align: left;
      vertical-align: center;
    }

    .header .logo img {
      height: 100px;
    }

    .header .actions {
      text-align: right;
    }

    .header .actions a {
      color: white;
    }

    .main {
      width: 100%;
      border: 0px solid black;
    }

    .main .content {
      width: 100%;
      vertical-align: top;
      padding: 10px;
    }
  </style>
</head>

<body>

<table class="header">
  <tr>
    <td class="logo">Logo</td>
    <td class="title">
      Shatterdome Web UI ( <%= ShatterdomeUI::VERSION %> )
    </td>
    <td class="actions">
      <% if session['user'] %>
        <a href="/auth/logout">Logout (<%= session['user'] %></a>)
      <% else %>
        <a href="/auth/login">Login</a>
      <% end %>
    </td>
  </tr>
</table>

<table class="main">
  <tr>
    <td class="breadcrum">
      <%= easy_breadcrumbs %>
    </td>
  </tr>
  <tr>
    <td class="flash">
      <% if flash.has?(:err) %>
        <h3 class="err"><%= flash[:err] %></h3>
      <% end %>

      <% if flash.has?(:ok) %>
        <h3 class="ok"><%= flash[:ok] %></h3>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="content">
      <%= yield %>
    </td>
  </tr>
</table>

</body>
</html>